<div class="ga-timeline-wrap">
  <!-- Kendi özel css ve js'ini import et (sadece bu include'da çalışacak şekilde) -->
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/ga-timeline.css">
  <script src="{{ site.baseurl }}/assets/js/ga-timeline.js" defer></script>

  <div class="ga-timeline" id="ga-timeline">
    <!-- Dönem Kartları -->
    <div class="ga-periods">
      <section class="ga-period" data-period="period1">
        <h4 class="ga-year">181x-181x</h4>
        <h2 class="ga-title">1 Lorem ipsum dolor sit amet.</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. ...</p>
      </section>
      <section class="ga-period" data-period="period2">
        <h4 class="ga-year">182x-182x</h4>
        <h2 class="ga-title">2 Lorem ipsum dolor sit amet.</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. ...</p>
      </section>
      <section class="ga-period" data-period="period3">
        <h4 class="ga-year">183x-183x</h4>
        <h2 class="ga-title">3 Lorem ipsum dolor sit amet.</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. ...</p>
      </section>
      <div class="ga-btn ga-btn-back"></div>
      <div class="ga-btn ga-btn-next"></div>
    </div>

    <!-- Timeline çizgisi -->
    <div class="ga-timeline-graphic">
      <div class="ga-timeline-bar"></div>
      <div class="ga-btn ga-btn-back">
        <!-- SVG ikonun -->
      </div>
      <div class="ga-btn ga-btn-next">
        <!-- SVG ikonun -->
      </div>
    </div>

    <!-- Kartlar -->
    <div class="ga-cards">
      <section class="ga-card active" data-period="period1">
        <h4 class="ga-year">1816</h4>
        <h2 class="ga-title">Lorem ipsum dolor sit amet.</h2>
        <div class="ga-content">
          <img src="https://ununsplash.imgix.net/photo-1421284621639-884f4129b61d?fit=crop&fm=jpg&h=700&q=75&w=1050" alt="" />
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. ...</p>
        </div>
      </section>
      <!-- ... diğer kartlar ... -->
    </div>
  </div>
</div>
